.signatures-component {
  width: 100%;
  display: flex;
}
.clerk-signature {
  margin-left: auto;
}

.signature {
  text-align: center;
  width: 220px;

  .signature-img {
    padding: 0 1rem;
    border-bottom: 1px solid black;
    --signature-height: 75px;
    height: var(--signature-height);
    width: calc(3 * var(--signature-height));

    img {
      width: 100%;
      height: 100%;
    }
  }

  p {
    margin: 0;
    padding: 0.25rem 0;
  }
}
