@font-face {
  font-family: "KgSecondChancesSketch";
  src: url("../assets/fonts/KgSecondChancesSketch-KpAp.woff2") format("woff2");
}

@font-face {
  font-family: "KgSecondChancesSolid";
  src: url("../assets/fonts/KgSecondChancesSolid-2B6K.woff2") format("woff2");
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  --penblue: #284283;
  --btn-x-offset: 0.1rem;
  --btn-y-offset: 0.25rem;

  background: #f1f1f1;
  overflow-x: hidden;
  min-height: 100dvh;
}

main {
    min-height: 50dvh;
}
